[Unit]
Description=Pi-hole

[Service]
Restart=on-failure
EnvironmentFile=/etc/sysconfig/pihole
ExecStartPre=-/bin/restorecon -FRvv ${DATA_DIR}
ExecStartPre=-/bin/podman pull ${IMAGE}:${TAG}
ExecStart=/bin/podman run --name pihole --hostname pihole --rm --cpus 1 --memory 512m --publish 53:53/udp --publish 53:53/tcp --publish ${HOSTHTTP}:80 --publish ${HOSTHTTPS}:443 --volume ${DATA_DIR}/etc/pihole:/etc/pihole:Z --volume ${DATA_DIR}/etc/dnsmasq.d:/etc/dnsmasq.d:Z --env-file /etc/sysconfig/pihole --dns=127.0.0.1 --dns=8.8.8.8 --cap-add NET_ADMIN ${IMAGE}:${TAG}
ExecStop=/bin/podman stop --timeout 10 pihole

[Install]
WantedBy=multi-user.target
